<div>
  <h1>Gateway's Devices</h1>
</div>
<br />
<div>

  <div class="grid-container">
     <div ><h2> <span class="light-font">Gateway Name: </span>{{gateway?.gateway_name}}</h2></div>
  <div ><h2> <span class="light-font">Gateway IP:</span> {{gateway?.IPv4}} </h2></div>
</div>

</div>
<br />
<button (click)="addDevice()" id="add_device">Add Device</button>
<br />
<div *ngIf="devices.length>0">
  <div class="mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="device_id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.device_id}} </td>
      </ng-container>

      <ng-container matColumnDef="device_vendor">
        <th mat-header-cell *matHeaderCellDef> Vendor </th>
        <td mat-cell *matCellDef="let element"> {{element.device_vendor}} </td>
      </ng-container>

      <ng-container matColumnDef="created_date">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let element"> {{element.created_date}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="deleteDevice(element._id)"><span style="color:red">Delete</span></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div *ngIf="devices.length<=0">

  <h1>No Devices to Show! </h1>
</div>