table {
    width: 100%;
    th.mat-header-cell{

      text-align: center;
    }
    tr.mat-row:hover {
      background-color: rgb(235, 235, 235);
     }
  

  }

  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .light-font{
    color: darkgray;
  }

  
