@import "../../../assets/theme/light-theme/light-theme.scss";
/* Style the footer */
footer {
    background-color: $footer-background;
    padding: 10px;
    text-align: center;
    color: $light-dark-white
  }